ase==3.16.0
backports.functools-lru-cache==1.5
click==6.7
colorama==0.3.9
coverage==4.5.1
cycler==0.10.0
Flask==1.0.2
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mock==2.0.0
nose2==0.8.0
numpy==1.15.1
pbr==4.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
six==1.11.0
spglib==1.9.9.18
subprocess32==3.5.2
Werkzeug==0.14.1
